<%# encoding:utf-8 %>
<div class="form_view">
<h2> Author </h2>
<p>
  <strong>Name:</strong>
  <%=h @author.name %>
</p>
<p>
  <strong>Country:</strong>
  <%=h @author.country %>
</p>
<p>
  <strong>Website:</strong>
  <%= auto_link @author.website %>
</p>
<p>
   <strong>Books:</strong>
    <% if @books && !@books.empty?%>
    <ol>
        <% @books.each do |book|%>
        <li><%= link_to book.title, book %></li>
        <% end %>
    </ol>
    <% end %>
</p>

<p>
    <% if logged_in? %>
  <%= link_to "Edit", edit_author_path(@author) %> |
  <%= link_to "Destroy", @author, :confirm => 'Are you sure?', :method => :delete %> |
    <% end %>
  <%= link_to "View All", authors_path %>
</p>
</div>

