<%# encoding: utf-8 %>


   <div class="left_content">
                    <% if @current_user%>
                    <h1>Welcome <%= @current_user.name %></h1>
                    <% else %>
                    <h1>Welcome to our club</h1>
                    <% end %>
                    <p>
                    <img src="images/icon1.gif" alt="" title="" class="left_icon" />
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>

                    <h1>Treasures</h1>
                    <p>
                    <img src="images/icon2.gif" alt="" title="" class="right_icon" />
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>

                    <h1>Authors</h1>
                    <div class="photos_block">

                    	<div class="photo_box">
                        	<a href="#"><img src="images/photo2.jpg" alt="" title="" class="photo" border="0" /></a><br />
                            <a href="#" class="view">view</a>
                        </div>
                    	<div class="photo_box">
                        	<a href="#"><img src="images/photo1.jpg" alt="" title="" class="photo" border="0" /></a><br />
                            <a href="#" class="view">view</a>
                        </div>
                    	<div class="photo_box">
                        	<a href="#"><img src="images/photo3.jpg" alt="" title="" class="photo" border="0" /></a><br />
                            <a href="#" class="view">view</a>
                        </div>
                    </div> <!-- photos_block -->


            </div> <!-- left_content -->


            <div class="right_content">

                     <h1>Reviews</h1>

                    <div class="tip_box">
                    <% if @review1 %>
                    <h2><%= @review1.book.title %></h2>
                    <p class="tips">
                    <%= @review1.review[0..30] %>
                    </p>
                    <%= link_to 'read more', review_path(@review1.id), :class => 'read_more' %>
                    <% end %>
                    </div>


                    <div class="tip_box">
                    <% if @review2 %>
                    <h2><%= @review2.book.title %></h2>
                    <p class="tips">
                    <%= @review2.review[0..30] %>
                    </p>
                    <%= link_to 'read more', review_path(@review2.id), :class => 'read_more' %>
                    <% end %>
                    </div>


                     <h1>New books</h1>
                    <% for book in @books  %>
                    <div class="news_box">
                    	<div class="date_box">
                        	<span class="day"><%= book.created_at.day %></span><br />
                            <span class="month"><%= book.created_at.strftime("%b") %></span>
                        </div>
                        <div class="news_content">
                        <h2><%=  book.title %></h2>
                        <p>
                        <%= book.description[0..60] %>
                        </p>
                        <%= link_to 'read more', book_path(book.id), :class => 'read_more' %>
                        </div>
                    </div> <!-- news_box -->
                    <% end %>

            </div> <!-- right_content -->

